<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/fabric")  
    @Scripts.Render("~/bundles/underscore")    
</head>
<body>
    <div class="container body-content" ng-controller="AppController">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-signalr")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")    

    @RenderSection("scripts", required: false)
</body>
</html>